<nav>
    <div class="main-div">
        <div>
            <!--<img src="../../assets/img/5.png" , height="50px",width="50px">-->
            <img src="../../assets/img/5.png" 
             width="100" 
             height="110"
             style="margin-left: 20px;" />
        </div>
        <div>
            <ul class="ul-div">
                <li routerLink="/home" routerLinkActive="active">LAMBORGHINI</li>
                <li routerLink="src/app/home/about-us" routerLinkActive="active">LIMITED SERIES</li>
                <li routerLink="/phones/samsung/65,0000" routerLinkActive="active">CONCEPT</li>
            </ul>
        </div>
    </div>
</nav>

