
.section {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    width: 60%;
    margin: 10rem auto 0 auto;
  

    
}
.section img{
    height: fit-content;
}
.section h1{
    padding: 60px;
    margin: 5px;
    color: navy;
}
.section p{
    color: black;

}
.be-footer{
    background-color: navy;
}
.table{
    align-items: center;
    margin: 50px;
   
}

.bnx-quotes__wrapper{
    align-items: center;
    margin: 50px;

}
.img{
    align-tracks: right;
}
.be-footer__bottom * {
    color: #fff;
    align-items: center;
}
.container{
    align-items: center;
}
.be-footer__social{
    align : center;

}
.be-footerrrr{
    align-content: center;
}
.image{
    image-rendering: auto;
}
.text{
    border: 5px solid white;
    display: flex;
}
.text > div{
   flex: 1px;
}
