<!--<p>home works!</p>-->
<div class="home">
    <h2>
        Learn to create websites "What is web design"
    </h2>
    <p>
        Many young or new designers often misunderstand the concept of web design. 
        Web design refers to the design of websites that are displayed on the internet.<br>
        It usually refers to the user experience aspects of website development rather 
        than software development.Therefore, even someone without any technical knowledge<br> 
        can become a great web designer using platforms like Mockplus,Figma or Sketch. 
        Of course, it would be great if you know some coding language (HTML, CSS, Java),<br>
        but you can’t get yourself deep into front-end development, that’s not the core 
        of web design.The core of web design is visual and interaction.It aims to solve<br>
        the communication problems between users and web page information.
    </p>
    <button style="background-color: green; border: 0px;width: 200px; height: 40px;">Learn More</button>
</div>
