<footer class="be-footer">
    
    <link rel="stylesheet" href="https://beinex.com/Content/scss/components/_footer.scss">
    <div class="container">
        <div class="be-footer__top">
            <div class="be-footer__menu">
                <div class="be-footer__menu-col">
                    <ul>
                        <li><img src="./assets/img/15.jfif" alt="" height="60px" width="200px"></li>
                        <li><a href="#" title="About Beinex​">About Beinex</a></li>
                        <li><a href="#" title="Careers​">Careers</a></li>
                        <li><a href="#" title="Press Releases​">Press Releases</a></li>
                        <li><a href="#" title="Beinex in the News​">Beinex in the News</a></li>
                        <li><a href="#" title="Syntax Migrator Demo​">Syntax Migrator Demo</a></li>
                    </ul>
                </div>
                <div class="be-footer__menu-col">
                    <h2> Our Services </h2>
                    <div class="be-footer__two-col">
                        <ul>
                            <li>
                                <a href="#" title="Advanced Analytics">Advanced Analytics</a>
                            </li>
                            <li>
                                <a href="#" title="AI /ML/RPA">AI /ML/RPA</a>
                            </li>
                            <li>
                                <a href="#" title="Alteryx APA">Alteryx APA</a>
                            </li>
                            <li>
                                <a href="#" title="Audit Analytics">Audit Analytics</a>
                            </li>
                            <li>
                                <a href="#" title="Beinex Digital">Beinex Digital</a>
                            </li>
                            <li>
                                <a href="#" title="Business Intelligence">Business Intelligence</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#" title="Competitive Intelligence">Competitive Intelligence</a>
                            </li>
                            <li>
                                <a href="#" title="Modern Cloud Analytics">Modern Cloud Analytics</a>
                            </li>
                            <li>
                                <a href="#" title="Risk Analytics">Risk Analytics</a>
                            </li>
                            <li>
                                <a href="#" title="Tableau">Tableau</a>
                            </li>
                            <li>
                                <a href="#" title="Tableau Support Services">Tableau Support Services</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="be-footer__menu-col">
                    <h2> Our Domains </h2>
                    <ul>
                        <li><a href="#" title="Finance">Finance</a></li>
                        <li><a href="#" title="Human Resources">Human Resources</a></li>
                        <li><a href="#" title="Procurement">Procurement</a></li>
                        <li><a href="#" title="Sales">Sales</a></li>
                    </ul>
                </div>
                <div class="be-footer__menu-col">
                    <h2> Our Partners </h2>
                    <div class="be-footer__two-col">
                        <ul>
                            <li><a href="#" title="Tableau">Tableau</a></li>
                            <li><a href="##" title="Aurex.ai">Aurex.ai</a></li>
                            <li><a href="#" title="Amazon Web Services">Amazon Web Services</a></li>
                        </ul>
                        <ul>
                            <li><a href="#" title="Microsoft Azure">Microsoft Azure</a></li>
                            <li><a href="#" title="Snowflake">Snowflake</a></li>
                            <li><a href="#" title="Salesforce">Salesforce</a></li>
                            <li><a href="#" title="Alation">Alation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>