table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #2eac8e;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #faf7f7;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }