<!--<p>content works!</p>-->
    <div class="container">
      <div id="box1">
        <h4>HTML</h4>
        <p>HTML stands for HyperText Markup Language.It is used to design web pages using a markup language. HTML is the combination of Hypertext and Markup language. Hypertext defines the link between web pages.</p>
        <button style="background-color: green; border: 0px;">Learn More</button>
      </div>
      <div id="box2">
        <H4>CSS</H4>
        <p> CSS (Cascading Style Sheets) allows you to create great-looking web pages, but how does it work under the hood? This article explains what CSS is with a simple syntax example and also covers some key terms about the language. </p>
       <br> <button style="background-color: green; border: 0px;">Learn More</button>
      </div>
      <div id="box3">
        <h4>BOOTSTRAP</h4>
        <p>Bootstrap is a free, open source front-end development framework for the creation of websites and web apps. Designed to enable responsive development of mobile-first websites, Bootstrap provides a collection of syntax for template designs.</p>
        <button style="background-color: green; border: 0px;">Learn More</button>
      </div>
    </div>
