     <!-- Quotes section start -->
             
     <table class="table">
        <div class="Quotes" >
        <tr>
            <td>
            
                <div class="bnx-quotes__wrapper" id="first" >
                    <h3>Lorem ipsum dolor sit amet, 
                        consectetuer adipiscing elit</h3>
                    <p class="bnx-quotes__txt">Without Big Data Analytics, Companies Are Blind And Deaf, Wandering Out Onto The Web Like Deer On A Freeway.</p>
                    <div class="bnx-quotes__name">- john Doe</div>
                    <p>Destination</p>
                </div>
            </td>
            <td>
            <div class="bnx-quotes__wrapper">
                <h3>Lorem ipsum dolor sit amet, 
                    consectetuer adipiscing elit</h3>
                <p class="bnx-quotes__txt">Without Big Data Analytics, Companies </p>
                <div class="bnx-quotes__name">- Mohmd Azhar</div>
                <p>Destination</p>
            </div>
        </td>
        <td>
            <div class="bnx-quotes__wrapper">
                <h3>Lorem ipsum dolor sit amet, 
                    consectetuer adipiscing elit</h3>
                <p class="bnx-quotes__txt">Without Big Data Analytics, Companies </p>
                <div class="bnx-quotes__name">- David john</div>
                <p>Destination</p>
            </div>
        </td>
        </tr>
        <tr>
            <td>
            
                <div class="bnx-quotes__wrapper">
                    <h3>Lorem ipsum dolor sit amet, 
                        consectetuer adipiscing elit</h3>
                    <p class="bnx-quotes__txt">Without Big Data Analytics, Companies Are Blind And Deaf, Wandering Out Onto The Web Like Deer On A Freeway.</p>
                    <div class="bnx-quotes__name">- john Doe</div>
                    <p>Destination</p>
                </div>
            </td>
            <td>
            <div class="bnx-quotes__wrapper">
                <h3>Lorem ipsum dolor sit amet, 
                    consectetuer adipiscing elit</h3>
                <p class="bnx-quotes__txt">Without Big Data Analytics, Companies </p>
                <div class="bnx-quotes__name">- Mohmd Azhar</div>
                <p>Destination</p>
            </div>
        </td>
        <td>
            <div class="bnx-quotes__wrapper">
                <h3>Lorem ipsum dolor sit amet, 
                    consectetuer adipiscing elit</h3>
                <p class="bnx-quotes__txt">Without Big Data Analytics, Companies </p>
                <div class="bnx-quotes__name">- David john</div>
                <p>Destination</p>
            </div>
        </td>
        </tr>
    </div>
    
    </table>
        <!-- Quotes section end -->
