<!--<p>blogs works!</p>-->
<!-- home-srt -->
<div class="blur alt">
	<img src="../../assets/img/200.png" alt="">
	<span class="blurry" style="background-image: url(./assets/img/200.png)"></span>
	<div class="overlay">
		<div class="flex">
			<h2 style="color: aliceblue;">Beinex supports the launch of AWS Middle East Region in the UAE region</h2>
			<br><br>
            <p style="color: aliceblue;">Beinex is proud to support Amazon Web Services (AWS) for the launch of AWS Middle East Region in the UAE. AWS is a global pioneer in cloud-based offerings, with more than 200 services provided from data centers run globally. An AWS Advanced Consulting Partner Beinex can transform how you run your business digitally by providing you with the true edge in AWS cloud-related implementations and solutions. </p>
		    <br><br><br>
            <button class="btn"><i class="fa fa-home"></i> Redeem offer </button>
        
        </div>
	</div>
</div>


<!-- home-end -->
