<link rel="stylesheet" href="../foot/foot.component.scss">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer class="footer">
     <div class="container">
         <div class="row">
             <div class="footer-col">
                 
                 <ul>
                    <li><img src="../../assets/img/15.jfif" alt="" height="60px" width="200px"></li>
                     <li><a href="#">About Beinex</a></li>
                     <li><a href="#">Careers</a></li>
                     <li><a href="#">Press Releases</a></li>
                     <li><a href="#">Beinex in the News</a></li>
                 </ul>
             </div>
             <div class="footer-col">
                 <h5 style="color: aliceblue;">Our Services</h5><br>
                 <ul>
                     <li><a href="#">Advanced Analytics</a></li>
                     <li><a href="#">AI /ML/RPA</a></li>
                     <li><a href="#">Alteryx APA</a></li>
                     <li><a href="#">order status</a></li>
                     <li><a href="#">Beinex Digital</a></li>
                 </ul>
             </div>
             <div class="footer-col">
                 <h5 style="color: aliceblue;">Our Domains</h5><br>
                 <ul>
                     <li><a href="#">Finance</a></li>
                     <li><a href="#">Human Resources</a></li>
                     <li><a href="#">Procurement</a></li>
                     <li><a href="#">sales</a></li>
                 </ul>
             </div>
             <div class="footer-col">
                <h5 style="color: aliceblue;">Our Partners</h5><br>
                <ul>
                    <li><a href="#">Microsoft Azure</a></li>
                    <li><a href="#">Snowflake</a></li>
                    <li><a href="#">Salesforce</a></li>
                    <li><a href="#">Amazon Web Services</a></li>
                </ul>
            </div>
         </div>
     </div>
</footer>