<nav>
  <div class="main-div">  
  <div>
    <h4>Mobile Service</h4>
  </div>
      <div>
          <ul class="ul-div">
            <li routerLink="/main" routerLinkActive="active">Main</li>
              <li routerLink="/child" routerLinkActive="active">inner-component</li>
             
          </ul>
      </div>
  </div>
  </nav>

  <div class="content" style="height: 500px;width: 100%;">
    <router-outlet></router-outlet>
  </div>


  <footer class="footer">
    <span>Privacy Policy</span>&nbsp;&nbsp;&nbsp;
    <span>Terms of Use</span>&nbsp;&nbsp;&nbsp;
    <span>Cookie Policy</span>
    <p>Copyright © 2023 - 24 Mobile Service</p>
  </footer>



