.main-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(133, 125, 125);
    color: rgb(14, 13, 13);
}
.ul-div{
    display: flex;
    list-style: none;
}
.ul-div>li{
    padding: 50px;
}