.section {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    width: 60%;
    margin: 10rem auto 0 auto;
  

    
}
.section img{
    height: fit-content;
}
.section h1{
    padding: 60px;
    margin: 5px;
    color: navy;
}
.section p{
    color: black;

}