<app-blog-post
  [title]="'My first trip to Paris'"
  [content]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id volutpat metus. Sed vitae euismod velit. Integer consequat est id lorem finibus, ac dignissim lorem posuere. Paris is one of the most beautiful cities in the world. It is known worldwide for the Louvre Museum, Notre-Dame cathedral, and the Eiffel tower. It has a reputation of being a romantic and cultural city. The city is also known for its high-quality gastronomy and the terraces of its cafes.'"
  [imageUrl]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrhf4Bx6MvAyU__nVCZ9ydMJoy8Z-MNeMnQ2rv5cGfANgxgIO319AovNc8dTOZC-570Jc&usqp=CAU'"
  [imageAlt]="'Eiffel Tower'"
  [author]="'Akshay__k'"
  [date]="'2023-02-14'"
  appHighlight>
</app-blog-post>
<router-outlet></router-outlet>
