<!--<p>company works!</p>-->

<div class="---Home----">
            
    <p style="color: rgb(245, 247, 249);">Attention Writers: Now You Can Write for Beinex!</p>  
   <h1 style="color: grey;">'Payment. Credit. Exposure'</h1>
   &nbsp;&nbsp;
   
   <p style="color: rgb(248, 250, 251);">Yes, we have just gone article hungry<br>

       We need talented writers who can come up with high quality Articles and Blogs on<br> 
       all our service domains and more. It shall be a freelance arrangement. Selected <br>
       articles would be paid for.<br>
       
       Just check out the Services section of Beinex website. Do the topics thrill you into <br>
       writing? If yes, we may like to publish your writing<br>
   </p>     
</div>

